#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.featured-puppy{
  border: 1px solid black;
  background-color: hsl(208, 100%, 81%);
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.featured-puppy ul li {
  list-style: none;
  justify-content: left;
  justify-items: left;
}

.puppies{
  transition: 0.1s ease;
}

.puppies:hover {
  background-color: hsl(208, 100%, 92%);
  transform: scale(1.2);
  cursor: pointer;
}